[SddmGreeterTheme]
Name=busytheme-sddm
Description=Nusy sddm theme
Author=Iulian Donici
Copyright=(c) 2022, Eliver Lara
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/EliverLara/Sweet/tree/Ambar-Blue/kde/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=iuliandonici@gmail.com
Theme-Id=busytheme-plasma
Theme-API=2.0
QtVersion=6
